.navbarcontainer{
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* .logoimg{
    height: 100%;
    width: auto;
} */